@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');
h1,h3, h2, p, li, ul {
  font-family: 'Inter', sans-serif;
}
.app-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:  #e4edf1;
    min-height: 100vh;
    width:max-content;
  }
  
  .app-title {
    color: #0a7ea4;
    text-align: center;
    margin-bottom: 20px;
  }

  
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    position: fixed;
    top: 20px; /* Mantiene la posición fija en el eje Y */
    left: 0;   /* Inicia en el borde izquierdo */
    right: 0;  /* Se adapta al ancho de la ventana */
  }
  
  
  .custom-button {
    background-color:#9cc4ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    height: 60%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    margin-left: 45%;
  
    transition: background-color 0.3s ease;
  }
  .custom-button1 {
    background-color: #8bec87;
    color: white;
    border: none;
    padding: 10px 20px;
    height: 60%;
    align-self: center;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .custom-button:hover {
    background-color: #000000;
  }
  .custom-button1:hover {
    background-color: #000000;
  }
  .custom-table {
    border: 1px solid #ddd;
    border-radius: 0px;
    margin-top: 33vh;
    z-index: 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .titleAdd{
    margin-left: 0.3%;
    margin-bottom: 30px;
  }
  .logoDashboard1{
    width: 12vw;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 3vh;
    position:fixed;
    left: 2vw;
  }
  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
 z-index: 1;
left:30px;
top:110px;
position: fixed; /* Cambia a fixed cuando se activa */

  }
  
  Picker{
    z-index: 99;
  }


  .picker-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 200;
    color: #353535;
    background-color: #f0f0f0;
    border: 1px solid #ffffff;
  }
  
  .picker-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .picker-modal {
    background-color: #ecfff8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 2;
    height: 50vh;
    max-width: 400px;
  }
  
  .picker-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #444444;
    font-weight: 200;
  }
  
  .picker-option {
    padding: 10px;
    color: #969595;
    cursor: pointer;
  }
  
  .picker-option:hover {
    background-color: #f0f0f0;
  }
  
  .picker-close {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .picker-close:hover {
    background-color: #0056b3;
  }

  .picker-container {
    position: relative;
    width: 250px;
    font-family: "Arial", sans-serif;
    z-index: 99;
  }
  
  .picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: #ffffff;
    
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .picker-header:hover {
    background: #f0f8ff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    
  }
  
  .picker-arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  .picker-arrow.open {
    transform: rotate(180deg);
  }
  

  /* Modal Overlay */
.picker-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

/* Modal Box */
.picker-modal {
  background-color: #f5fffa;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
}

/* Search Input */
.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 15px;
  color: #414141;
  background-color: #faffff;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #1e0044;
  outline: none;
  box-shadow: 0 0 8px rgba(11, 0, 109, 0.5);
}

/* Options List */
.picker-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Option Item */
.picker-option {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.picker-option:hover {
  background-color: #f0f0f0;
  transform: translateX(5px);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}


.clienteButton2 {
  width: 55vw;
  height: 60px;
  font-size: 20px;
  font-weight: 200;
  background-color: #000000;
  border: none;
  border-radius: 15px;
 
  margin-right: auto;
  margin-top: 20px;
  color: #ffffff;
  align-self: center;
  
}
.customLabel {
  font-size: 16px;
  color: #333;
  font-weight:300;
  font-family:fantasy;
}
/* Estilo para el checkbox en estado normal */
.customCheckbox {
  color: #ff0000;
}

/* Estilo para el checkbox cuando está seleccionado */
.customCheckbox.Mui-checked {
  color: #00ff00;
}