@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700&display=swap');
h1,h3, h2, p, li, label,button {
  font-family: 'Inter', sans-serif;
}
.clienteDetailContainer {
    position: absolute;
    z-index: 2; /* Asegura que esté por encima del fondo desenfocado */
    background-color: #D3E7F0;
    color: #3a3a3a;
    width: 75vw;
    height: 85vh;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap; /* Permite que los items se envuelvan */
  
    padding: 2.4%;
    
}

.clienteItemContainer {
    position: relative;

    margin: 0px 0; 

    width: calc(33% - 15px); /* Ajusta el tamaño para dos items por fila, restando un poco para el gap */
}

.clientInput {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #e3f7f8;
    border: none;
    height: 6vh;
    padding-left: 10px;
    color: #3a3a3a;
    border-radius: 10px;
    width: 85%; /* Asegúrate de que los inputs ocupen el 100% del contenedor */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}

.clienteButton2 {
    width: 55vw;
    height: 60px;
    font-size: 20px;
    font-weight: 200;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    margin-left: 16%;
    margin-right: auto;
    margin-top: 20px;
    color: #ffffff;
    align-self: center;
    
}
.clienteButton2:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: #3a3a3a;

}



span{
    font-weight: 200;
}