@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700&display=swap');
h1,h3, h2, p, li, label,button {
  font-family: 'Inter', sans-serif;
}
.clienteDetailContainer1 {
    position: absolute;
    z-index: 2; /* Asegura que esté por encima del fondo desenfocado */
    background-color: #D3E7F0;
    color:  #3a3a3a;
    width: 30vw;
    height: auto;

    border-radius: 20px;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Permite que los items se envuelvan */
    margin-top: 6vh;
    padding: 2.4%;
    padding-bottom: 30px;
    
}

.clienteItemContainer1 {
    position: relative;

    margin: 0px 0; 

    width: calc(50% - 15px); /* Ajusta el tamaño para dos items por fila, restando un poco para el gap */
}

.clientInput1 {
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #e3f7f8;
    border: none;
    color: #3a3a3a;
    height: 7vh;
    padding-left: 10px;
    border-radius: 10px;
    width: 210%; /* Asegúrate de que los inputs ocupen el 100% del contenedor */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}

.clienteButton1 {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 300;
    background-color: #8bec87;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #11243F;
}
.clienteButton1:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);

}


.generatePasswordButton{    width: 17vw;
    height: 40px;
   
    font-size: 15px;
    font-weight: 200;
    background-color: #a4cbf8;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #11243F;}

    /* Fondo de pantalla y logo */
.backgrounda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #e2e8f0, #94a3b8);
  }
  
  .logo {
    width: 100px;
    margin: 20px;
    transition: transform 0.3s;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  /* Contenedor principal */
  .clienteDetailContainer3 {
    
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    height: 80%;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
    position: absolute;
    z-index: 2; /* Asegura que esté por encima del fondo desenfocado */
    background-color: #D3E7F0;
    color:#3a3a3a;
    margin-left: 20%;
    border-radius: 20px;

   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Permite que los items se envuelvan */
    
    padding: 2.4%;
    
  }
  .clienteDetailContainer4 {
 
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 90vw;
    width: 85vw;
    height: 80%;
    text-align: center;
    animation: fadeIn 0.5s ease-out;
    position: absolute;
    z-index: 2; /* Asegura que esté por encima del fondo desenfocado */
    background-color: #D3E7F0;
    color:#3a3a3a;
    margin-left: 5%;
    border-radius: 20px;
    top: 7%;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Permite que los items se envuelvan */
    
    padding: 2.4%;
    
  }
  /* Título */
  .title {
    font-size: 1.8rem;
    color: #1a202c;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .title1 {
    font-size: 1.8rem;
    color:#3a3a3a;
    font-weight: 100;
    margin-bottom: 20px;

  }
  
  /* Estilo para los contenedores de información */
  .infoContainer {
    background: #e3f7f8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
    display:flex;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #e3f7f8;
    border: none;
    color: #3a3a3a;
   
    border-radius: 10px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
  }
  
  .infoContainer:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  /* Etiquetas */
  .label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #4a5568;
    margin-bottom: 5px;
  }
  
  /* Valores */
  .value {
    font-size: 1.2rem;
    color:#3a3a3a;
    font-weight: 600;
  }
  
  /* Animación de desvanecimiento */

  .clienteButton3 {
    width: 55vw;
    height: 60px;
    font-size: 20px;
    font-weight: 200;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 15px;
    color: #ffffff;
    align-self: center;
    
}
.clienteButton3:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: #3a3a3a;

}
.modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
