.container-documents {
  display: flex;
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: hidden; /* Oculta el scroll horizontal si no es necesario */
  width: 90%; /* Cambiado a 100% para ocupar todo el ancho disponible */
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  padding: 10px;
}
.divOptions-documents {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}
